body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#groups .group {
	display: flex;
	padding-left:12px;
}

.group-element {
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 4px;
	padding:0px 8px;
	margin-right:6px;
	background-color: white;
}

#groups .new-group-area {
	height:50px;
	display:flex;
	justify-content:center;
	color: rgba(0, 0, 0, 0.4);
}